body{
    font-family: "Avenir Next";
  }
  
  li {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar-header {
    display: flex;
    width: 1440px;
    padding: 32px 120px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 199, 199);
  }
  
  .logo{
    width: 32px;
    height: 44.758px;
  }
  
  .h3 {
    color: var(--neutral-950, #0B0B0E);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
  }
  
  .navbar-header-left{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 32px;
    height: 44.758px;
  }
  
  .navbar-header-right{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex-shrink: 0;
  }
  
  .navbar-header-right a {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    width: 116px;
    padding: 14px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-radius: 120px;
    border: 1px solid var(--neutral-950, #0B0B0E);
    color: var(--neutral-950, #0B0B0E);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
  }
  
  .navbar-header-list ul {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: var(--primary-green-950, #0D1307);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}

